@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Roboto+Mono:wght@600&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400&display=swap');

.clearfix:after {
    content: '';
    clear: both;
    display: table;
}

.left {
    float: left;
}

.right {
    float: right;
}

.libre {
    font-family: 'Libre Baskerville', serif;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.navbar__ul {
    list-style-type: none;
}

.navbar__ul--li {
    display: inline-block;
}

.navbar__ul--li a {
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar_btn {
    align-items: center;
    border: 2px solid #475F45;
    background-color: white;
    text-transform: uppercase;
}

.logo_title {
    font-weight: 500;
}

.logo_name {
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
}

.logo_title, .logo_subtitle, .intro_title {
    color: #414840;
}

.logo_subtitle {
    font-weight: 400;
    text-decoration: italic;
    text-transform: none;
    margin-right: 20px;
}

.menu_img {
    display: none;
}

.intro_title {
    text-transform: capitalize;
    font-family: 'Playfair Display', serif;
}

.intro_desc {
    color: #414840;
    text-transform: capitalize;
}

.img-size {
    border: 2px solid #343D33;
    border-radius: 47% 47% 0% 0%;
    padding: 1%;
    width: 100%;
}

.btn_design {
    background-color: white;
    font-weight: bold;
    border: 2px solid #475F45;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #475F45;
}

.btn_design:hover {
    background-color: #475F45;
    color: white;
}

.discover_main {
    background-color: #343D33;
    position: relative;
}

.background_img {
    position: relative;
    float: right;
}

.discover_upside {
    position: absolute;
    top: 50px;
}

.discover_downside--img, .discover_img--size, .plant_img--size {
    width: 100%;
}

.background_img {
    opacity: 0.2;
}

/* .discover_img--size{
    width: 90%;
    margin:10px;
} */

.discover_downside {
    position: absolute;
}

/* 
.discover_downside--img{
    width: 90%;
    margin:10px
} */

.discover_desc {
    /* position: absolute; */
    color: white;
    text-transform: capitalize;
}

.discover_btn--design {
    background-color: transparent;
    border: 2px solid #FFFFFF;
    color: white;
}

.news_hr {
    border: 1px solid #C4C4C4;
}

.newsupdates_title--main {
    font-weight: normal;
    text-transform: capitalize;
    color: #343D33;
}

.view_part {
    color: #475F45;
    text-transform: uppercase;
    font-weight: bold;
}

.plant_title {
    font-weight: normal;
    color: #475F45;
}

.plant_subdetail {
    font-weight: normal;
    color: #414840;
}

.date {
    font-style: italic;
    font-weight: normal;
    text-align: center;
    color: #414840;
}

.footer {
    background-color: #414840;
    padding-top: 5%;
    padding-bottom: 5%;
}

.footer_logo--title {
    font-style: normal;
    font-weight: 500;
    font-size: 18.8959px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer_logo--subtitle {
    font-style: italic;
    font-weight: normal;
    font-size: 12.3234px;
    line-height: 14px;
    color: #FFFFFF;
}

.footer_first--detail {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
}

.footer_second--title, .footer_third {
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
}

.footer_title, .footer_third--title {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 110%;
}

.footer_second--ul {
    list-style-type: none;
}

.footer_second--li {
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.reserved {
    background-color: #343D33;
    color: white;
}

/* mobile view */
@media screen and (min-width:320px) {
    * {
        box-sizing: border-box;
        margin: 0;
        text-align: center;
    }

    .header {
        margin-top: 20px;
        padding-bottom: 6%;
        max-width: 100%;
    }

    .logo {
        margin-left: 10px;
        margin-top: 5px;
    }

    .logo_img {
        width: 80%;
    }

    .logo_name {
        margin-left: 0px;
        /* font-size: 10px; */
        line-height: 22px;
    }

    .logo_title {
        font-size: 19.0927px;
        font-weight: 500;
        margin-right: 50px;
    }

    .logo_subtitle {
        font-size: 12.4517px;
        font-weight: 400;
        text-decoration: italic;
    }

    .menu_img {
        margin-top: 10px;
        margin-right: 20px;
        display: block;
    }

    .navbar__ul {
        /* margin-right: 30px; */
        display: none;
    }

    .intro {
        max-width: 100%;
        margin-right: 15px;

    }

    .intro_title {
        font-size: 34px;
        font-weight: normal;
        text-align: center;
    }

    .intro_detail {
        margin-top: 0px;
        padding-left: 30px;
        max-width: 100%;
    }

    .intro_img {
        margin-top: 10px;
        padding-left: 70px;
        padding-right: 70px;
        /* align:center; */
    }

    .img-size {
        max-width: 100%;
    }

    .intro_desc {
        font-weight: 300;
        text-align: center;
        font-size: 20px;
        margin-top: 10px;
        text-transform: none;
        /* padding: 0% 15% 0% 15%; */
    }

    .btn_design {
        max-width: 160px;
        padding: 2%;
        margin-left: 10px;
        margin-top: 20px;
        font-size: 14px;
        text-align: center;
        margin-bottom: 10px;
    }

    .discover_main {
        padding-bottom: 280px;
        margin-top: 20px;
    }

    .background_img {
        top: 250px;
        width: 60%;
        padding-top: 70%;
    }

    .discover_upside {
        top: 5%;
    }

    .discover_img--size {
        width: 90%;
        margin: 10px;
    }

    .discover_downside {
        top: 40.5%;
    }

    .discover_downside--img {
        width: 90%;
        margin: 10px;
    }

    .discover_desc {
        /* position: absolute; */
        margin-top: 48%;
        padding-left: 2%;
        padding-right: 2%;
        width: 100%;
        margin-left: 20px;
    }

    .discover_btn--design {
        padding: 1% 2% 1% 2%;
        margin-top: 10px;
        font-size: 14px;
        font-weight: bold;
        line-height: 16px;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        color: #FFFFFF;
        /* margin-left: 90px; */
    }

    .newsupdates_title {
        margin-top: 50px;
    }

    .view {
        margin-left: 50px;
        margin-bottom: 10px;
    }

    .line {
        margin-bottom: 5px;
        margin-right: 10px;
        margin-left: 10px;
    }

    .arrow {
        /* margin-top:20px; */
        margin-left: 5px;
    }

    .newsupdates_title--main {
        font-style: normal;
        font-size: 34px;
        line-height: 110%;
    }

    .view_part {
        font-style: normal;
        font-size: 14px;
        line-height: 16px;
    }

    .plant_img {
        margin-left: 3%;
    }

    .plant_title {
        font-style: normal;
        font-size: 23px;
        line-height: 110%;
        margin-bottom: 10px;
    }

    .plant_img--size {
        max-width: 100%;
        margin-bottom: 10px;
    }

    .plant_subdetail {
        font-style: normal;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        padding: 0% 10% 0% 10%;
    }

    .date {
        font-style: italic;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        margin-left: 20px;
    }

    .news {
        width: 100%;
    }

    .news1_img {
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 5%;
        margin-bottom: 5%;
        float: none;
    }

    .new2_detail {
        margin-bottom: 5%;
        float: none;
        padding: 0% 10% 0% 10%;
        /* width: 320px; */
    }

    .footer_logo--main {
        width: 240px;
    }

    .footer_logo--title {
        font-style: normal;
        font-weight: 500;
        font-size: 18.8959px;
        line-height: 22px;
        margin-right: 10px;
    }

    .footer_logo--subtitle {
        font-style: italic;
        font-weight: normal;
        font-size: 12.3234px;
        line-height: 14px;
    }

    .footer_first--detail {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        text-align: center;
        line-height: 150%;
        /* padding: 0% 3% 0% 3%; */
    }

    .footer_second--title, .footer_third {
        text-align: center;
    }

    .footer_second--title {
        margin-left: 100px;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .footer_title, .footer_third--title {
        font-size: 16px;
        line-height: 110%;
    }

    .footer_second--li {
        text-align: center;
        font-style: normal;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 10px;
        margin-left: 60px;
    }

    .footer_third {
        margin-top: 20px;
        margin-right: 50px;
    }

    .footer_third--title {
        margin-right: 10px;
    }

    .footer_connect {
        margin-right: 27px;
    }

    .connect {
        margin-bottom: 20px;
    }

    .reserved {
        padding: 3%;
        text-align: center;
    }

}

/* tablet view */
@media screen and (min-width:768px) {
    * {
        margin: 0;
        text-align: left;
    }

    .header {
        margin-top: 20px;
        padding-bottom: 6%;
        max-width: 100%;
    }

    .logo {
        margin-left: 80px;
        margin-top: 5px;
    }

    .logo_name {
        margin-left: 0px;
        font-size: 10px;
        line-height: 22px;
    }

    .logo_title {
        font-size: 23px;
        font-weight: 500;
    }

    .logo_subtitle {
        font-size: 12px;
        font-weight: 400;
        text-decoration: italic;
        margin-right: 40px;
    }

    .logo_img {
        width: 80%;
        margin-right: 5px;
    }

    .menu_img {
        /* margin-top: 10px;
        margin-right: 20px; */
        display: block;
    }

    .navbar_ul {
        display: none;
    }

    .menu_img {
        display: block;
    }

    .intro {
        max-width: 90%;
    }

    .intro_title {
        font-size: 40px;
        font-weight: 400;
        text-align: left;
    }

    .intro_detail {
        margin-top: 80px;
        /* margin-left: 30px; */
        max-width: 50%;
        padding: 0% 3% 0% 5%;
    }

    .intro_img {
        margin-top: 0px;
        max-width: 49%;
        margin-left: 5px;
        margin-right: 0px;
        padding: 0% 3% 1% 3%;
    }

    .img-size {
        max-width: 100%;
        /* margin-left: 50px; */
    }

    .intro_desc {
        text-align: left;
        font-weight: 400;
        font-size: 18px;
        margin-top: 10px;
        padding: 0%;
        margin-bottom: 5px;
    }

    .btn_design {
        max-width: 160px;
        padding: 2% 1% 2% 1%;
        font-size: 14px;
    }

    .discover_main {
        padding-bottom: 100px;
        margin-top: 20px;
    }

    .background_img {
        position: relative;
        top: -180px;
        width: 50%;
    }

    .discover_upside {
        top: 50px;
    }

    .discover_img--size {
        width: 60%;
        margin: 10px;
        margin-left: 50px;
    }

    .discover_downside {
        top: 300px;
    }

    .discover_downside--img {
        width: 700px;
        margin: 50px
    }

    .discover_desc {
        position: absolute;
        width: 55%;
        margin-top: 20px;
        padding-left: 2%;
        padding-right: 2%;
        margin-left: 70%;
    }

    .discover_desc--detail {
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .discover_btn--design {
        padding-left: 2%;
        padding-right: 2%;
        padding-top: 1%;
        padding-bottom: 1%;
        font-size: 14px;
        margin-left: 90px;
    }

    .newsupdates_main {
        max-width: 100%;
    }

    .newsupdates_title {
        margin-top: 50px;
        margin-left: 20px;
    }

    .view {
        margin-left: 0px;
        margin-bottom: 20px;
        margin-top: 10px;
    }

    .line {
        margin-bottom: 5px;
        margin-right: 10px;
        /* margin-left: 10px; */
        width: 10%;
    }

    .arrow {
        /* margin-top:20px; */
        margin-left: 5px;
    }

    .newsupdates_title--main {
        font-style: normal;
        font-size: 34px;
        line-height: 110%;
    }

    .view_part {
        font-style: normal;
        font-size: 14px;
        line-height: 16px;
    }

    .plant_main {
        width: 45%;
        float: left;
    }

    .plant_img {
        margin-left: 5%;
        margin-bottom: 10px;
        /* width: 5%; */
    }

    .plant_title {
        font-style: normal;
        font-size: 16px;
        line-height: 110%;
        margin-bottom: 10px;
    }

    .plant_img--size {
        width: 90%;
    }

    .plant_detail {
        width: 90%;
        margin-left: 5%;
    }

    .plant_subdetail {
        font-style: normal;
        font-size: 12px;
        line-height: 150%;
        text-align: left;
        margin-top: 10px;
        padding: 0%;
    }

    .date {
        font-style: italic;
        font-size: 12px;
        line-height: 150%;
        text-align: center;
        margin-left: 0px;
    }

    .news {
        width: 55%;
    }

    .news1 {
        width: 100%;
        margin-right: 0%;
        margin-top: 10px;
    }

    .news1_img {
        margin: 0%;
        padding: 0%;
        float: left;
        width: 40%;
    }

    .lush {
        /* margin-right: 200px; */
        width: 80%;
        margin: 0%;
    }

    .new2_detail {
        /* margin:0%; */
        width: 60%;
        float: right;
        padding: 0%;

        /* font-size: 16px; */
    }

    .footer_first {
        width: 40%;
    }

    .footer_logo {
        margin-left: 50px;
    }

    .footer_logo--name {
        margin-right: 10%;
    }

    .footer_logo--main {
        width: 290px;
    }

    .footer_logo--title {
        font-style: normal;
        font-weight: 500;
        font-size: 18.8959px;
        line-height: 22px;
        text-align: left;
    }

    .footer_logo--subtitle {
        font-style: italic;
        font-weight: normal;
        font-size: 12.3234px;
        line-height: 14px;
        text-align: left;
    }

    .footer_first--detail {
        text-align: left;
        width: 80%;
        margin-left: 50px;
        margin-top: 10px;
    }

    .footer_second--title, .footer_third {
        text-align: center;
        margin-bottom: 20px;
        margin-right: 0px;
        margin-left: 0px;
        margin-top: 0px;
    }

    .footer_title, .footer_third--title {
        font-size: 20px;
        line-height: 110%;
        margin-top: 0px;
    }

    .footer_second--li {
        text-align: left;
        font-style: normal;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 10px;
        margin-left: 0px;
    }

    /* .footer_third {
        margin-top: 0px;
    } */

    .footer_connect {
        margin-right: 30px;
    }

    .connect {
        margin-bottom: 20px;
    }

    .reserved {
        padding: 3%;
        text-align: center;
    }
}

/* desktop view */
@media screen and (min-width:1200px) {
    * {
        box-sizing: border-box;
        margin: 0;
        text-align: left;
    }

    .header {
        margin-top: 20px;
        padding-bottom: 6%;
        max-width: 1500px;
        margin: 0 auto;
    }

    .logo {
        margin-left: 50px;
        margin-top: 5px;
    }

    .logo_name {
        margin-left: 0px;
        line-height: 22px;
    }

    .logo_title {
        font-size: 23px;
        font-weight: 500;
    }

    .logo_subtitle {
        font-size: 15px;
        font-weight: 400;
        text-decoration: italic;
        margin-right: 40px;
    }

    .logo_img {
        width: 80%;
        margin-right: 5px;
    }

    .menu_img {
        /* margin-top: 10px;
        margin-right: 20px; */
        display: none;
    }

    .navbar__ul {
        margin-right: 40px;
        display: block;
        list-style-type: none;

    }

    .navbar__ul--li {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        display: inline-block;

    }

    .navbar__ul--li a {
        color: #414840;
        font-size: 14px;
        margin-right: 40px;
    }

    .navbar_btn {
        padding: 5px 20px;
        font-size: 14px;
    }


    .intro {
        max-width: 1400px;
        margin: 0 auto;
    }

    .intro_title {
        font-size: 57px;
        font-weight: 400;
        text-align: left;
        margin-top: 50px;
    }

    .intro_detail {
        margin-top: 30px;
        margin-left: 90px;
        max-width: 45%;
    }

    .intro_img {
        margin-top: 10px;
        max-width: 38.1666667%;
        margin-right: 80px;
    }

    .img-size {
        max-width: 100%;
        margin-left: 50px;
    }

    .intro_desc {
        text-align: left;
        font-weight: 300;
        font-size: 25px;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .btn_design {
        max-width: 160px;
        padding: 3%;
        font-size: 16px;
    }

    .discover_main {
        padding-bottom: 350px;
        margin-top: 20px;
        max-width: 1400px;
        margin: 0 auto;
    }

    .background_img {
        position: relative;
        top: -100px;
        width: 50%;
    }

    .discover_upside {
        top: 50px;
    }

    .discover_img--size {
        width: 100%;
        margin: 10px;
        margin-left: 50px;
    }

    .discover_downside {
        top: 450px;
    }

    .discover_downside--img {
        width: 95%;
        margin: 50px
    }

    .discover_desc {
        position: absolute;
        width: 95%;
        margin-top: 30px;
        padding-left: 20%;
        padding-right: 2%;
        margin-left: 100%;
    }

    .discover_desc--title {
        font-size: 45px;
    }

    .discover_desc--detail {
        margin-top: 10px;
        margin-bottom: 15px;
        font-weight: normal;
        font-size: 20px;
        line-height: 150%;
    }

    .discover_btn--design {
        padding-left: 4%;
        padding-right: 4%;
        padding-top: 3%;
        padding-bottom: 3%;
        font-size: 14px;
        margin-left: 90px;
    }

    .newsupdates_main {
        max-width: 1400px;
        margin: 0 auto;
    }

    .newsupdates_title {
        margin-top: 50px;
        margin-left: 50px;
    }

    .view {
        margin-left: 0px;
        margin-bottom: 20px;
        margin-top: 10px;
    }

    .line {
        margin-bottom: 5px;
        margin-right: 10px;
        /* margin-left: 10px; */
        width: 10%;
    }

    .arrow {
        /* margin-top:20px; */
        margin-left: 5px;
    }

    .newsupdates_main {
        margin-bottom: 96px;
    }

    .newsupdates_title--main {
        font-style: normal;
        font-size: 45px;
        line-height: 110%;
    }
    .newsupdates_title{
        max-width: 1400px;
        margin: 0 auto;
    }
    .view_part {
        font-style: normal;
        font-size: 14px;
        line-height: 16px;
    }

    .plant_main {
        width: 45%;
    }

    .plant_img {
        margin-left: 10%;
        margin-bottom: 10px;
        /* width: 5%; */
    }

    .plant_title {
        font-style: normal;
        font-size: 23px;
        line-height: 110%;
        margin-bottom: 10px;
    }

    .plant_img--size {
        width: 90%;
    }

    .plant_detail {
        width: 90%;
        margin-left: 10%;
    }

    .plant_subdetail {
        font-size: 16px;
        line-height: 150%;
        text-align: left;
        margin-top: 10px;
    }

    .date {
        font-style: italic;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        margin-left: 0px;
    }

    .news {
        width: 55%;
    }

    .news1 {
        width: 100%;
        margin-right: 0%;
        margin-top: 0px;
    }


    .top_margin {
        margin-top: 10px;
    }

    .news1_img {
        margin-right: 0%;
        /* width: 40%; */
    }

    .lush {
        width: 90%;
        margin: 0% 0% 2% 0%;

    }

    .new2_detail {
        width: 60%;
    }

    .footer, .reserved {
        max-width: 1400px;
        margin: 0 auto;
    }

    .footer_first {
        width: 40%;
    }

    .footer_logo {
        margin-left: 50px;
    }

    .footer_logo--name {
        margin-right: 10%;
    }

    .footer_logo--title {
        font-style: normal;
        font-weight: 500;
        font-size: 18.8959px;
        line-height: 22px;
        text-align: left;
    }

    .footer_logo--subtitle {
        font-style: italic;
        font-weight: normal;
        font-size: 12.3234px;
        line-height: 14px;
        text-align: left;
    }

    .footer_first--detail {
        text-align: left;
        width: 80%;
        margin-left: 50px;
        font-size: 16px;
        margin-top: 10px;
    }

    .footer_second--title, .footer_third {
        text-align: center;
        margin-bottom: 20px;
        margin-right: 0px;
        margin-left: 50px;
        margin-top: 0px;
    }

    .footer_third {
        margin-right: 20px;
    }

    .footer_title, .footer_third--title {
        font-size: 16px;
        line-height: 110%;
        margin-top: 0px;
    }

    .footer_second--li {
        text-align: left;
        font-style: normal;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 10px;
        margin-left: 50px;
    }

    .footer_connect {
        margin-right: 40px;
    }

    .connect {
        margin-bottom: 20px;
    }

    .reserved {
        padding: 30px;
        text-align: center;
    }
}